@charset utf-8;
body {
	width: 950px;
	font-family: Verdana, "Helvetica Neue", sans serif;
	font-size: 100%;
}
fieldset {
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 10px;
	border-color: #0099FF;
	height: 250px;
}
legend {
	font-size: larger;
	font-weight: bolder;
	color: #003399;
}
form p {
	position: relative;
}
label {
	display: inline-block;
	width: 200px;
	margin-right: 5px;
	vertical-align: top;
}
#falt {
	float: left;
}
#pic {
	float: right;
}
